<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>Practica para Faster</title>
</head>
<body>
    <div class="grid">
        <header></header>
        <div class="phone"></div>
        <div class="hero">
            <div class="hero-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem molestias recusandae voluptatem ut corrupti, vero magnam temporibus in ipsam perferendis nihil voluptatibus aut sed hic? Sequi modi repudiandae ab nostrum.</p>
            </div>
        </div>
        <section></section>
        <section></section>
        <section></section>
        <section></section>
        <section></section>
    </div>
    <section></section>
    <section></section>
    <section></section>
</body>
</html>